#
# Infra
#
infra/**/*.js
!infra/.eslintrc.js
!infra/.prettierrc.js
!infra/jest.config.js
infra/**/*.d.ts

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out


#
# website
#
website/_site/


#
# Common
#
node_modules/
.vscode/
